<% provide(:title, '重发解锁邮件') %>

<div class="subtitle">
  <h3>重新发送解锁邮件</h3>
</div>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "shared/error_messages", target: resource %>

  <div class="form-group">
    <%= f.email_field :email, placeholder: '邮箱', class: 'form-control'%>
  </div>

  <div class="form-actions">
    <%= f.submit "重发解锁邮件", class: 'btn btn-primary btn-lg btn-block' %>
  </div>
<% end %>

<%= render 'devise/shared/sign_buttons' %>
