<% provide(:title, '重置密码') %>

<div class="subtitle">
  <h3>通过邮箱重置密码</h3>
  <p>此功能将会发送一个邮件到你的邮箱，通过邮件内链接可以进入密码重置页面。</p>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "shared/error_messages", target: resource %>

  <div class="form-group">
    <%= f.email_field :email, placeholder: '邮箱', class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit '发送密码重置邮件', class: 'btn btn-primary btn-lg btn-block' %>
  </div>
<% end %>

<%= render 'devise/shared/sign_buttons' %>
