<% provide(:title, '登录') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= '登录' %>
      </div>

      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, placeholder: '邮箱', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: 'off', placeholder: '密码', class: 'form-control'%>
          </div>

          <div class="clearfix">
            <% if devise_mapping.rememberable? -%>
              <div class="checkbox pull-left">
                <label>
                  <%= f.check_box :remember_me %> 记住我
                </label>
              </div>
            <% end -%>

            <% if devise_mapping.recoverable? %>
              <div class="pull-right" style="margin: 10px 0">
                <%= link_to '忘记密码了？', new_password_path(resource_name) %>
              </div>
            <% end -%>
          </div>

          <div class="form-actions">
            <%= f.submit '登录', class: 'btn btn-primary btn-lg btn-block', 'data-disable-with' => '登录中' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>



</div>
</div>
