<% provide(:title, '登录') %>

<div class="navs">
  <%= link_to('登录', new_user_session_path, controller_name == 'sessions' ? { class: 'active' } : {}) %>
  <%= link_to('注册', new_user_registration_path, controller_name == 'registrations' ? { class: 'active' } : {}) %>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, placeholder: '邮箱', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: 'off', placeholder: '密码', class: 'form-control'%>
  </div>

  <div class="links-line">
    <% if devise_mapping.rememberable? %>
      <div class="checkbox">
        <label>
          <%= f.check_box :remember_me %> 记住我
        </label>
      </div>
    <% end -%>

    <% if devise_mapping.recoverable? %>
      <div class="troubles-link dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">无法登录？ <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <%- if devise_mapping.recoverable? %>
            <li><%= link_to '忘记密码了？', new_user_password_path %></li>
          <% end -%>
          <%- if devise_mapping.confirmable? %>
            <li><%= link_to '没有收到确认邮件？', new_user_confirmation_path %></li>
          <% end -%>

          <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) %>
            <li><%= link_to '没有收到解锁邮件？', new_user_unlock_path %></li>
          <% end -%>
        </ul>
      </div>
    <% end -%>
  </div>

  <div class="form-actions">
    <%= f.submit '登录', class: 'btn btn-primary btn-lg btn-block', 'data-disable-with' => '登录中' %>
  </div>

  <div class="social-buttons">
    <div class="divider">
      <h6>社交帐号登录</h6>
    </div>
    <ul>
      <li>
        <a class="douban" href="/usrs/auth/douban" target="_blank" aria-hidden="true">
          <span class="sr-only">使用豆瓣登录</span>
        </a>
      </li>
    </ul>
  </div>
<% end %>
