<!DOCTYPE html>
<html>
  <head>
    <title>ReadingNow</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :stylesheets %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div , message, class: "alert alert-#{message_type}") %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'layouts/shim' %>
    <%= yield :javascripts %>
  </body>
</html>
