<!DOCTYPE html>
<html>
  <head>
    <title>ReadingNow</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :stylesheets %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= render 'layouts/shim' %>
    <%= yield :javascripts %>
  </body>
</html>
